extend layout

block content
  h1 Desk Weather

  h2 Illuminance
  div#illuminance.epoch.chart.category20b

  h2 Humidity
  div#humidity.epoch.chart.category20c

  h2 Air Pressure
  div#airpress.epoch.chart.category20b

  h2 Temperature
  div#temp.epoch.chart.category20c
