extend layout

block content
    h1 Current Conditions @ Ben's Desk!
    div.container

        div.chart
            div#temp.epoch.gauge-medium
            span Temperature
                button.temp.cels °F

        div.chart
            div#humidity.epoch.gauge-medium
            span Humidity

        div.chart
            div#airpress.epoch.gauge-medium
            span Air Pressure

        div.chart
            div#illuminance.epoch.gauge-medium
            span Illuminance
