extend layout

block content
  h1 Index What!

  h2 Illuminance
  div#illuminance.epoch.chart

  h2 Humidity
  div#humidity.epoch.chart

  h2 Air Pressure
  div#airpress.epoch.chart

  h2 Temperature
  div#temp.epoch.chart
